// body{
//     // font-family: SFU Futura;
// }
.container{
    width: 100%;
}
.navbar{
    width: 100%;
    // padding-left: 15rem;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 4.2rem;
    // background-color: transparent!important;
    .container{
        width: 100%;
        background-color: transparent;
        margin: 0;
    }
    // display: initial;
}
.navbar-brand{
    width: 10%;
    margin-left: 0;
    padding: 0;
    img{
        width: 7rem;
    }
}
.navbar{
    padding-left: 17%;
}
.navbar-collapse{
    background-color: white;
}
.nav-item{
    margin: 0 .2rem;
}
.nav-link{
    font-size: 1.1rem;
}




#back-to-top{
    display: inline-block;
    background-color: #858586;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 110px;
    right: 25px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 100000;
    &:hover {
        cursor: pointer;
        background-color: #333;
    }
    &:active {
        background-color: #555;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    i{
        font-size: 2.5rem;
        padding: .5rem;
        // margin: auto;
        color: white;
    }


}
.user{

    i{
        font-size: 2.1rem;
    }
}


.badge {
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 9px;
}

  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
    position: absolute;
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px;
  }


@media (max-width: 995px) {
    .social-link{
       display: none!important;
    }
    .navbar-brand{
        margin-left: 1%;
    }

}

@media (max-width: 760px) {
    .navbar{
        padding: 0;
    }
    .container{
        background: white;


    }
}
