.service-menu{
    background: #F2F2F2;
    width: 100%;
    .row{
        width: 60%;
        margin-left: 20%;
    }
    .service-item{
        padding: 1rem;
        cursor: pointer;
        p{
            margin: 0;
            padding-left: 1rem;
            font-size: .9rem;
        }
    }
}
.manufacturing{
    padding: 3rem 0;
    text-align: center;
    .row{
        width: 60%;
        margin-left: 20% ;
    }
    &-item-1{
        padding: .5rem;
        img{
            width: 100%;
            height: auto;

        }
        text-align: end!important;

    }
    &-title-1{
        background: #F2F2F2;
        padding: .2rem 1rem;
        p{
            margin: 0;
        }
        
    }
    &-item-2{
        padding: .5rem;
        img{
            width: 100%;
            height: auto;
        }
        text-align: center!important;

    }
    &-title-2{
        background: #F2F2F2;
        padding: .2rem 1rem;
        p{
            margin: 0;
        }
    }


    &-item-3{
        padding: .5rem;
        img{
            width: auto;
            height: 11rem;
        }
        margin-left: 5.4rem;

    }
    &-title-3{
        height: 11rem;
        background: #F2F2F2;
        padding: .2rem .5rem;
        vertical-align: center;
        p{
            margin: 0;
            padding-top: 9rem;
        }
    }

    &-item-4{
        padding: .5rem;
        img{
            width: auto;
            height: 11rem;
        }

    }
    &-title-4{
        height: 11rem;
        background: #F2F2F2;
        padding: .2rem .5rem;
        vertical-align: center;
        p{
            margin: 0;
            padding-top: 9rem;

        }
    }
    &-item-5{
        padding: .5rem;
        img{
            width: 100%;
            height: auto;
        }

    }
    &-title-5{
        background: #F2F2F2;
        padding: .2rem .5rem;
        vertical-align: center;
        p{
            margin: 0;
        }
    }
    &-double{
        padding: 0;
    }
}

.installation{
    background: #F2F2F2;
    padding: 4rem 0;
    text-align: center;
    &-carousel{
        width: 40%;
        margin-left: 30% ;
    }
    h5{
        margin-top: 1rem;
    }p{
        padding: 0 4rem;
    }
}

.project-management{
    padding: 3rem 0;
    text-align: center;
    h4{
        margin-bottom: 2rem;
    }
    
   

    &-content{
        width: 60%;
        margin-left: 20%;
    }
    
    
}

.thumb-box {
    text-align: start!important;
    display:flex;
    max-width:100%;
    margin:0 .2rem;
    position:relative;
    img{
        width: 100%;
        height: auto;
    }
    a{
        padding:0;
        position: relative;
        width: 100%;
        height: 100%;
        z-index:9997;
    }
    .overlay-box {
        position:absolute;
        bottom:0;
        width:100%;
        z-index:9998;
        left:0;
        padding:5%;
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75));
    }
    .meta {
        font-size: .8rem;
        display:block;
        color: white;
        
    }
      
    .main-title {
        font-size: 1rem;
        display:block;
        font-weight:700;
        text-shadow:0 0 1px rgba(0,0,0,0.5);
        color: white;
    }

    .description {
        color: white;
        font-size: 1rem;
        margin-top: .2rem; 
        display:block;
        color: #ccc;
        max-height: 0;
        line-height: 1rem;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.4s ease-out, max-height 0.4s ease-out, margin 0.4s;
    }
    a:hover .description {
        opacity:1;
        max-height: 5rem;
        margin-top: 5px;
        transition: opacity 0.4s ease-out, max-height 0.9s ease-out
    }
    a:hover .overlay-box {
        background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 1));
      
    }
      
      
}
